<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{Pickachu.first_name}} for you are the last Air Bender!!!</h1>

    
    
        <h2>{{oneBooks.title}}</h2>
        <p>Added by: {{oneBooks.uploaded_by}}</p>
        <p>Added on: {{oneBooks.created_at}}</p>
        <p>Last Updated: {{oneBooks.updated_at}}</p>
        <p>Description: {{oneBooks.desc}}</p>
        <a href=""><button>Update</button></a>
        <a href=""><button>Delete</button></a>
        <a href="/books">Go to Book List</a>

    <h3>Users who like the book:</h3>
    {% for user in oneBooks.wholiked.all %}
    <ul>
        <li>{{user.first_name}}</li>
    </ul>
    {% endfor %}
</body>
</html>